<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="bean.mybatisInterface.QueryMsg">
    <select id="getMsg" parameterType="bean.bean.MsgRelaBean" resultType="bean.bean.UserPublish">

         SELECT
                *
            FROM
            <![CDATA[
            (
            ]]>

                    SELECT
                        a.context as postContext,
                        a.context_img as postImg,
                        a.gis_info as gisInfo,
                        a.status as status,
                        a.user_id as userId,
                        a.simple_img as simpleImg,
                        b.user_name as userName,
                        b.nick_name as nickName,
                        a.create_time
                    FROM
                        UserPublish a,
                        USER b
                    WHERE
                    a.publish_type = 0
                    AND a.inactive_time IS NULL
                    OR a.inactive_time > SYSDATE()
                    AND a.user_id = b.id
                    <if test="watcherId!=null">
                        AND a.user_id = #{watcherId}
                    </if>
                    UNION
                        SELECT
                           a.context as postContext,
                           a.context_img as postImg,
                           a.gis_info as gisInfo,
                           a.status as status,
                           a.user_id as userId,
                           a.simple_img as simpleImg,
                           b.user_name as userName,
                           b.nick_name as nickName,
                           a.create_time
                        FROM
                            UserPublish a,
                            USER b,
                            UserMsgQueue d
                        WHERE
                        a.publish_type = 1
                        AND
                        a.inactive_time > SYSDATE()
                        OR
                        a.inactive_time IS NULL
                        AND
                        a.id = d.publish_id
                        AND a.user_id = b.id
                        <if test="id!=null">
                            AND d.user_id = #{id}
                        </if>
                        <if test="watcherId!=null">
                            AND a.user_id = #{watcherId}
                        </if>
                <![CDATA[
                )
                ]]> c
            ORDER BY
	c.create_time DESC

    </select>
</mapper>