<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="bean.Dao.UserRelationInterface">
            <sql id="Select_clause">
                SELECT
                  user_name as userName,
                  nick_name as nickName,
                  head_img as headImg,
                  id as id
                  from User
            </sql>

            <select id="getUserRelationList" parameterType="bean.bean.UserRelation" resultType="java.util.List">
                  <include refid="Select_clause"/>
                where
                <if test="nickName!=null">
                    nick_name like
                    <![CDATA]
                </if>

            </select>
    </mapper>
